.bounce {
  transition: 0.3s;

}

.bounce:hover {
  transform: translate(0, -12px);

}

h1 {
  color: #5B6C5D
}

li {
  color: #80BCA8;
  padding-bottom: 20px;
}

nav li {
  color: #80BCA8;
}

nav a.active {
  color: black;
  font-weight: bold;
}

.player {
  height: 145px;
  width: auto;
  padding-left: 15rem;
  position: absolute;
}

.rectangle {
  height: 446px;
  width: 808px;
  border-radius: 3rem;
  background-color: #7BD3B6;
  align-items: center;
}

span {
  color: #59C9A5;
}

.wrap {
  padding: 1rem;
  align-items: center;
  display: flex;
}