body {
  background-color: #ffffff;
}

.bounce {
  transition: 0.3s;
}

.bounce:hover {
  transform: translate(0, -12px);
}

h1 {
  color: #5b6c5d;
}

li {
  color: #59c9a5;
  padding-bottom: 20px;
}

footer li:hover {
  color: #5b6c5d;
}

nav a.active {
  color: #5b6c5d;
  font-weight: bold;
}

nav li:hover {
  color: #5b6c5d;
}

span {
  color: #59c9a5;
}

::-moz-selection {
  color: #ffffff;
  background: #5b6c5d;
}

::-webkit-selection {
  color: #ffffff;
  background: #5b6c5d;
}

::selection {
  color: #ffffff;
  background: #5b6c5d;
}
