.bounce {
  transition: 0.3s;

}

.bounce:hover {
  transform: translate(0, -12px);

}

h1 {
  color: #5B6C5D
}

li {
  color: #59C9A5;
  padding-bottom: 20px;
}

footer li:hover {
  color: #5B6C5D
}

nav a.active {
  color: #5B6C5D;
  font-weight: bold;
}

nav li:hover {
  color: #5B6C5D
}

span {
  color: #59C9A5;
}

::-moz-selection {
  color: #FFFFFF;
  background: #5B6C5D;
}

::-webkit-selection {
  color: #FFFFFF;
  background: #5B6C5D;
}

::selection {
  color: #FFFFFF;
  background: #5B6C5D;
}